{% extends "base.html" %}
{% block content %}

  <div class="main-content"> 
            <div class="sticky-nav">
                <div class="sticky-nav-icons">
                    <img src="/static/assets/backward_icon.png" alt="">
                    <img src="/static/assets/forward_icon.png" alt="" class="hide">
                </div>
                
                <div class="sticky-nav-options">
                    <button class="badge nav-items hide">Explore Premium </button>
                
                    <button class="badge nav-items dark-badge">
                        <i class="fa-regular fa-circle-down" style="margin-right: 5px;"></i>
                        Install App
                    </button>
                    <i class="fa-regular fa-user nav-items"></i>

                </div>
                

            </div>
            
            <h2>Recently Played</h2>
            <div class="cards-container">
                <div class="card">
                    <img src="/static/assets/card1img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
            </div>


            <h2>Trending now near you</h2>
            <div class="cards-container">
                <div class="card">
                    <img src="/static/assets/card2img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
                <div class="card">
                    <img src="/static/assets/card3img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
                <div class="card">
                    <img src="/static/assets/card4img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
                <div class="card">
                    <img src="/static/assets/card5img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
                <div class="card">
                    <img src="/static/assets/card6img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
            </div>
            <h2>Featured Charts</h2>
            <div class="cards-container">
                <div class="card">
                    <img src="/static/assets/card5img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
                <div class="card">
                    <img src="/static/assets/card1img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
                <div class="card">
                    <img src="/static/assets/card6img.jpeg" alt="" class="card-img">
                    <p class="card-title">Top 50 - Global</p>
                    <p class="card-info">Your daily updates of the most played...</p>
                </div>
            </div>

            <div class="footer">
                <div class="line"></div>
            </div>
        </div>

{% endblock content %}